*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

main{
  height: 100%;
  /*background: linear-gradient(180deg, #4e95b9, #3d6a83);*/
  background-color: #62b9db;

}
.border{
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  border: 15px solid #FFF ;
}
.logo{
  position: fixed;
  top: 3%;
  left: 3%;
  z-index: 1005;
  max-width: 50px;
}
.monkey img,
.logo img{
  width: 100%;
}
.title{
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 1001;
  font-family: 'Georgia', sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
  color: #FFF;
}
.monkey{
  z-index: 1000;
  position: fixed;
  bottom: -5px;
  right: 0;
  width: 200px;
  display: none;
}

::-moz-selection { /* Code for Firefox */
  color: #FFF; background: #62b9db;
}
::selection {
  color: #FFF; background: #62b9db;
}

/*BACKGROUND VIDEO JS*/
main {
  position: relative;
}
/* Video wrap */
.bv-video-wrap {
  width: 100%;
  height: 100%;
  display: none;
}

.bv-video-wrap--ready {
  display: block;
}

.bv-video-wrap::before {
  /* Optional overlay */
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #62b9db;
  mix-blend-mode: multiply;
  z-index: 10;
}

/* Video object */
.bv-video {
  width: 100%;
  height: 100%;
}
