/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #091d23;
  background-color: #0f2a47;
}

a {
  color: #ff5625;
  text-decoration: none;
}
main{
  height: 100%;
  /*background: linear-gradient(180deg, #4e95b9, #3d6a83);*/
  background-color: #0f2a47;
}

#music{display: none;}
.border{
  position: fixed;
  top: 0; left: 0;
  z-index: 1002;
  width: 100%;
  height: 100%;
  border: 10px solid #FFF ;
}
.logo{
  top: 30px;
  left: 3%;
  z-index: 1005;
  width: 47px;
}
.title img{
  width: 100%;
}
.title{
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 1001;
  font-family: 'Georgia', sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
  color: #FFF;
  width: 25px;
}
.parrot{
  z-index: 1002;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 175px;
}
.bird{
  position: relative;
  z-index: 1;
  top: -100px;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.plant{
  position: absolute;
  bottom: 0; right: 0;
  z-index: 0;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

::-moz-selection { /* Code for Firefox */
  color: #FFF; background: #62b9db;
}
::selection {
  color: #FFF; background: #62b9db;
}

/*BACKGROUND VIDEO JS*/
main {
  position: relative;
}
.bullets{
  position: fixed;
  z-index: 1002;
  width: 50%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.bullets a{
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  height: 10px;
  width: calc(100% / 6 - 10px);
  float: left;
  margin: 5px;
  position: relative;
}
.bullets a:hover,
.bullets .active{
  background-color: rgba(255, 255, 255, 1);
}
.bullets a:hover::after{
	padding: 5px 10px;
  font-size: 0.75rem;
	background: #091d23;
  color: #FFF;
	content: attr(data-title);
	position: absolute;
	width: 100%;
  text-align: center;
	top: -22px;
}
video{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* Video wrap */
.bv-video-wrap {
  width: 100%;
  height: 100%;
  display: none;
  border-bottom: 10px solid #FFF;
}

.bv-video-wrap--ready {
  display: block;
  position: relative;
}

.bv-video-wrap::before {
  /* Optional overlay */
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #62b9db; /* blue */
  mix-blend-mode: multiply;
  z-index: 10;
}
.bv-video-5-wrap-0::before,
.bv-video-2-wrap-0::before{
  background-color: #4ec285; /* green */
}
.bv-video-6-wrap-0::before,
.bv-video-3-wrap-0::before{
  background-color: #ffb33a; /*  orange */
}

.bv-video-wrap-0::after,
.bv-video-2-wrap-0::after,
.bv-video-3-wrap-0::after,
.bv-video-4-wrap-0::after,
.bv-video-5-wrap-0::after,
.bv-video-6-wrap-0::after{
  content: '';
  display: block;
  position: absolute; /*GEEFT PROBLEMEN IN FIREFOX*/
  right: calc(3% + 50px);  top: 35px;
  font-family: 'Georgia', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF;
  z-index: 1001;
}
.bv-video-wrap-0::after{
  content: 'Thrash the room';
}
.bv-video-2-wrap-0::after{
  content: 'Paint:the wall';
}
.bv-video-3-wrap-0::after{
content: 'Everybody hit the floor';
}
.bv-video-4-wrap-0::after{
content: 'The knights table';
}
.bv-video-5-wrap-0::after{
content: 'Finishing touches';
}
.bv-video-6-wrap-0::after{
content: 'Party Animals';
}


/* Video object */


/* ANIMATIONS */
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  }
  @-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
